.Rhistory
.RData
.Rproj.user/
*.Rproj
*.pdf
*.png
*.csv
!data_breast_cancer.csv
!MC-Study-MPIG_MNBcr.RData
!MC-Study-Misspecification-MIG-MGA-POI.RData
!Application-Table-Selection_criteria.RData
!Application_breast_cancer_MPIG_POISSON.RData